@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,500;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}
.dark {
  --black: #fff;
  --black2: #444;
  --white: #333;
  --white2: #444;
}
body {
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}
.navi {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}
/* xử lí khi thêm cls active */
.navi.active {
  width: 0;
}
.navi ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navi ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navi ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}

.navi ul li a:hover {
  opacity: 1;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white);
  min-height: 100vh;
  transition: width 0.5s, left 0.5s;
}
.main.active {
  width: calc(100% - 0px);
  left: 0px;
}
.main .topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  background-color: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: width 0.5s, left 0.5s;
}
/* xử lí khi thêm cls active tiện cho việc respon */
.main .topbar.active {
  width: calc(100% - 0px);
  left: 0;
}

.main .topbar .logo {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main .topbar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--black);
}
/* social  */
section {
  position: relative;
  min-height: 100vh;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .imgme {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.banner .imgme img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;
}
p {
  color: #777;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--black2);
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 10px;
  text-decoration: none;
}
.socialMedia {
  position: absolute;
  bottom: 20px;
  display: flex;
}
.socialMedia li {
  list-style: none;
}
.socialMedia li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.05);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 1.2em;
}
.socialMedia li a:hover {
  background: var(--black2);
  color: var(--white);
}
/* public*/
.setup {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--white);
}
/* ------------ */
.title {
  width: 100%;
  text-align: center;
}
.title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 30px;
  color: var(--black);
}
.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50px;
  height: 1px;
  background: var(--black);
}
.about .content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about .content .textBox {
  width: 49%;
  min-width: 49%;
}
.about .content .imgme {
  margin-left: 40px;
  min-width: 50%;
  width: 50%;
}
.about .content .imgme img {
  max-width: 100%;
}
/* services */
.services .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px;
}
.services .imgsetup {
  max-width: 50px;
}
.services .content .servicesBox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px 20px;
  display: flex;
  background: var(--white2);
  align-items: center;
  flex-direction: column;
}
.services .content .servicesBox h2 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.services .content .servicesBox p {
  text-align: center;
}
/* project */
.project .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
.project .content .workMe {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
/* cách xét nhìu hình và kích thước với grid */
.project .content .workMe .imgMe {
  position: relative;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}
.project .content .workMe .imgMe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ----------------------------------------- */
.project .content .workMe:hover .imgMe {
  transform: translateY(-100%);
}
.project .content .workMe .textMe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}
.project .content .workMe:hover .textMe {
  transform: translateY(0);
}
.project .content .workMe .textMe h3 {
  color: var(--white);
  font-size: 1em;
}
/* Testimonials */
.Testimonials .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
.Testimonials .content .testimonialsBox {
  background: var(--white2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

/* cách xét nhìu hình và kích thước với grid */
.Testimonials .content .testimonialsBox .imgMe {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.Testimonials .content .testimonialsBox .imgMe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -------------------------------------------- */
.Testimonials .content .testimonialsBox p {
  font-style: italic;
}
.Testimonials .content .testimonialsBox h4 {
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  color: var(--black);
  line-height: 1.2em;
  font-weight: 600;
  border-right: 4px solid var(--black);
  padding-right: 10px;
}
.Testimonials .content .testimonialsBox h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.7em;
}
/* contact */
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.contact .contactForm {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}
.contact .contactForm .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.contact .contactForm .row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contact .contactForm .row input,
.contact .contactForm .row2 textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--black);
  background: var(--white2);
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact .contactForm .row2 textarea {
  resize: none;
  height: 200px;
}
.contact .contactForm .row2 input[type="submit"] {
  background: var(--black2);
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 150px;
  border: none;
}
.contact .contactForm .row2 input[type="submit"]:hover {
  background: #707070;
}
/* copyright */
.copyright {
  position: relative;
  bottom: 0;
  padding: 10px 40px;
  text-align: center;
}
/* Responsive */
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  /* @media (max-width: 992px) { */
  .navi {
    left: -100%;
  }
  .navi.active {
    left: 0;
    width: 100%;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 100%;
  }
  .main .topbar {
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
  .navi ul {
    padding: 20px 20px;
  }
  .banner .imgme {
    width: 250px;
    height: 250px;
  }
  .banner h3,
  .banner p {
    text-align: center;
  }
  .setup {
    padding: 0 20px;
    padding-top: 80px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .textBox {
    width: 100%;
    min-width: 100%;
  }
  .about .content .imgme {
    margin-left: 0px;
    margin-top: 20px;
    min-width: 100%;
  }
  .services .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .project .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ----------------------------------- */
/* btn switch mode DARK AND LIGHT */
.themeSwitch {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 30px;
  height: 30px;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* đặt icon bằng unicode */
.themeSwitch::before {
  content: "\f186";
  font-family: fontAwesome;
}
/* change icon when theme dark */
.dark .themeSwitch::before {
  content: "\f185";
  font-family: fontAwesome;
}
/* change text */
.dark .themeSwitch::after {
  content: "Switch to Light Mode";
}
.themeSwitch::after {
  content: "Switch to Dark Mode";
  position: absolute;
  left: 40px;
  font-size: 0.7em;
  color: var(--black);
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 1px;
  pointer-events: none;
}
/* thêm 1 số element khác */
.dark .navi {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.dark .main .topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.dark p {
  color: var(--black);
}
.dark .btn:hover {
  transition: 0.5s;
  letter-spacing: 2px;
  border-radius: 10px;
  background: #2196f3;
}
.dark .socialMedia li a:hover {
  transition: 0.5s;
  border-radius: 20px;
  color: var(--black);
  background: #2196f3;
}
.dark .services .imgsetup {
  filter: invert(1);
}
.dark .services .content .servicesBox:hover {
  background: #2196f3;
}
.dark .Testimonials .content .testimonialsBox:hover {
  background: #2196f3;
}
.dark .contact .contactForm .row2 input[type="submit"]:hover {
  background: #2196f3;
}
/* -------------------------- */
/* mobie */
@media (max-width: 740px) {
  .themeSwitch {
  }
  .services .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .project .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .Testimonials .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact .contactForm .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    margin-bottom: 100px;
  }
  .copyright {
    padding: 10px 76px;
  }
  .navi {
    left: -100%;
  }
  .navi.active {
    left: 0;
    width: 100%;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 100%;
  }
  .main .topbar {
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
  .navi ul {
    padding: 20px 20px;
  }
  .banner .imgme {
    width: 250px;
    height: 250px;
  }
  .banner h3,
  .banner p {
    text-align: center;
  }
  .setup {
    padding: 0 20px;
    padding-top: 80px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .textBox {
    width: 100%;
    min-width: 100%;
  }
  .about .content .imgme {
    margin-left: 0px;
    margin-top: 20px;
    min-width: 100%;
  }
}
